@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-left {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-down {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(30px);
    }
}

body {
    background-color: #F0F0F0;
}

::-webkit-scrollbar{
    display: none;
}

.custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #FFFFFF;
    padding: 2px;
    margin: none;
}

@media (max-width: 768px) {
    .custom-navbar {
        border-radius: 5px; /* Smaller border radius on small screens */
    }
}

.navbar-brand img{
    height: 50px;
    width: 50px;
}

.navbar-brand-name {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    line-height: 1;
}

.navbar-brand-name .ldce-name {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: #102C57;
}

.navbar-brand-name .location {
    display: block;
    font-size: 1rem;
}

@media (max-width: 520px) and (min-width: 440px) {
    .navbar-brand img{
        height: 40px;
        width: 40px;
    }
    .navbar-brand-name .ldce-name {
        font-size: calc(0.6rem + 0.4rem);
    }
    .navbar-brand-name .location {
        font-size: calc(00.6rem + 0.2rem);
    }
    .navbar-toggler {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
    }
    .navbar-toggler-icon {
        width: 1.25rem;
        height: 1.25rem;
    }
}
@media (max-width: 440px){
    .navbar-brand img{
        height: 35px;
        width: 35px;
    }
    .navbar-brand-name .ldce-name {
        font-size: 0.8rem;
    }
    .navbar-brand-name .location {
        font-size: 0.6rem;
    }
    .navbar-toggler {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
    }
    .navbar-toggler-icon {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.nav-link{
    font-size: 1em;
    color: #102C57;
}

.active{
    font-weight: bold;
    color: #102C57;
}

.ctnr{
    margin-top: 70px;
}
@media (max-width: 1300px) {
    .ctnr {
        scroll-snap-type: none;
        overflow-y: auto;
    }
}


.custom-carousel {
    margin: 10px 10px 10px 10px;
}
.custom-carousel .carousel-inner img {
    border-radius: 10px 10px 10px 10px; /*border radius to carousel images */
}

@media (max-width: 768px) {
    .custom-carousel .carousel-inner img {
        border-radius: 5px; /* Smaller border radius on small screens */
    }
}

.navbar-brand{
    margin-left: 20px;
}

.full-height-section{
    margin: 0 10px 10px 10px;
    height: 100vh;
}
.full-height-section-head{
    background-color: #102C57;
            color: white;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 10px;
            padding: 20px;
           
}

.full-height-section-head-header {
    font-size: calc(10px + (35 - 10)*(100vw - 320px)/(1920 - 320));
    font-weight: bold;
}
.full-height-section-head-body {
    font-size: calc(7px + (20 - 7)*(100vw - 320px)/(1920 - 320));
}


.grid {
    width: 90%;
    margin: 0 auto;
}
.grid-item {
    background: #eee;
    border-radius: 10px;
    margin-top: calc(8px + (20 - 8)*(100vw - 320px)/(1920 - 320));
    transition: all 0.3s;
    box-shadow: 0 20px 20px -25px gray;
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.grid-item.visible.fade-up {
    opacity: 1;
    animation: fade-up 1s ease forwards;
}

.grid-item.visible.fade-left {
    opacity: 1;
    animation: fade-left 1s ease forwards;
}


.grid-item:hover {
    box-shadow: 0 20px 35px -22px gray;
}
.grid-item .card-title{
    font-size: calc(15px + (20 - 15)*(100vw - 320px)/(1920 - 320));
    border-bottom: 2px solid black; 
    padding-bottom: 5px;
}

.grid-item .card-text{
    font-size: calc(12px + (16 - 12)*(100vw - 320px)/(1920 - 320));
}
.grid-item .card {
    width: 50rem;
}
.grid-item-3 .card {
    width: 25rem;
}

@media (max-width: 1300px) {
    .grid{
        width: 100%;
    }
    .grid-item{
        width: 100%;
        margin-top: 10px;
    }
    .grid-item .card {
        width: 100%;
    }
    .full-height-section{
        margin: 0 10px 10px 10px;
        height: auto;
        scroll-snap-align: none;
    }
}

@media (max-width: 560px) {
    .grid-item{
        margin-top: 15px;
    }

}

.grid-item-3 ul {
    list-style: none;
    padding: 0; 
}

.grid-item-3 ul li {
    padding-left: 40px;
    background: url('../resources/red-banner.png') no-repeat left center;
    background-size: 30px 30px;
    margin-bottom: 10px;
}

.more-abouts{
    font-family: Source Sans Pro, Arial, sans-serif;
    background-color: #FFFFFF;
    padding: 4em 0;
    unicode-bidi: isolate;
}

.more-abouts-unlist{
    list-style: none;
    padding: 0;
}

.more-abouts-unlist li {
    padding-left: 40px;
    background: url('../resources/true-icon.jpeg') no-repeat left center;
    background-size: 25px 30px;
    margin-bottom: 10px; 
}

.enroll-ex{
    background-color: #DAD7CB;
    display: block;
    padding: 4em 0;
}

.lower-section,
.upper-section {
  display: flex;
  justify-content: center;
  
} 
.upper-section {
  min-height: 50vh;
  width: 100%;
  align-items: center;
}
.lower-section{
  min-height: 50vh;
  width: 100%;
  
}
.section-divider {
  position: relative;
}
.section-divider:before {
      content: ""; 
      width: 6.5rem;
      height: 6.5rem;
      background: #2c3e50;
      border-radius: 100%;
      position: absolute;
      top: -3.25rem;
      left: calc(50% - 3.25rem);
      color: rgba(#2980b9, 0.5);
      line-height: 6rem;
      text-indent: 1.75rem;
      font-size: 3rem;
    }

.conatiner_inner{
    max-width: 90%;
    margin: 0 auto;
}

.title p {
    font-size: 35px;
    line-height: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #6F4E37;
}

@media (min-width: 992px) {
    .w-lg-20 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.box {
    padding: 5px 25px 5px 5px;
    justify-content: center;
    align-items: center;
}

.make-block{
    display: block;
}
.row {
    justify-content: center;
}
.box div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box img {
    max-width: 225px;
    margin-bottom: 20px;
    width: 100%;
    vertical-align: middle;
    align-items: center;
    border-style: none;
    height: 127px;
    aspect-ratio: auto 225 / 127;
}

.make-block p{
    font-family: sans-serif Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}
.is-fullwidth {
    position: relative;
    width: 100vw;
    min-height: 150vh;
    
}
.has-bg--blue {
    background: linear-gradient( 176deg, rgba(34, 49, 63, 0.7) 51.9%,red 52%,red 52.5%, rgba(41, 41, 40, 1) 52.6% );
                position: relative;
                width: 100%;
                overflow: hidden;
                margin: 0 auto; /* Center align */           
    color: white;
    font-family: sans-serif,Arial, Helvetica;
}

.background-image {
    position: absolute;
    background-attachment: fixed;
    aspect-ratio: auto 640 / 247;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    
}
.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.col-environment{
    justify-content: center;
    align-items: center;
    margin: auto;
}

.section-environment{
    margin-top: 15%;
}
.text-environment h1{
    margin-bottom: 44px;
    font-size: calc(20px + (100 - 40)*(100vw - 320px)/(1920 - 320));
    font-weight: bold !important;
    letter-spacing: 3px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin-top: 5%;
}
.text-environment p{
    font-size: calc(15px + (15 - 12)*(100vw - 320px)/(1920 - 320));
}

@media (max-width: 768px) {
    .education-image {
        width: 50%;
    }
    .has-bg--blue {
        background: linear-gradient( 176deg, rgba(34, 49, 63, 0.7) 20.9%,red 21%,red 21.5%, rgba(41, 41, 40, 1) 21.6% );
    }
}


@media (max-width: 520px) {
    .education-image {
        width: 50%;
    }
    .has-bg--blue {
        background: linear-gradient( 176deg, rgba(34, 49, 63, 0.7) 15.9%,red 16%,red 16.5%, rgba(41, 41, 40, 1) 16.6% );
    }
    .background-image{
        aspect-ratio: auto 640 / 247;
        height: 16%;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .education-image {
        width: 40%;
    }
    .has-bg--blue {
        background: linear-gradient( 176deg, rgba(34, 49, 63, 0.7) 30.9%,red 31%,red 31.5%, rgba(41, 41, 40, 1) 31.6% );
    }
    .background-image{
        aspect-ratio: auto 640 / 247;
        height: 40%;
    }
}

@media (min-width: 1201px) {
    .education-image {
        width: 35%;
    }
    .background-image{
        aspect-ratio: auto 640 / 247;
        height:57%;
    }
}
@media(max-width: 990px) {
    .is-fullwidth .container{
        width: 98%;
    }
    .text-environment h1{
        margin-bottom: 20px;
    }
    .section-environment{
        margin-top: 10%;
    }

}
.education-image {
    width: 60%;
     height: auto;
     margin-top: auto;
    margin-left: auto;
}
.image {
    width: 100%;
    transform-origin: bottom;
    transition: transform 0.6s;
    filter: drop-shadow(1px 1px 1px yellow);
    
}

/* ------------activity section css --------- */

.card-container {
    position: relative;
    width: 80%;
    height: 60vh;
    overflow-y: hidden;
    color: #FFFFFF;
}

.card-scroll {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 100%;
    overflow-y: hidden;
    
}

.card-activity {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 10px;
    background: rgba(255, 255, 255, 0.0);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    scroll-snap-align: center;
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    border: none;
}

.card-activity img {
    max-width: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.col-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-text1 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.card-text h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
}

.card-text p {
    margin: auto;
    
}

.progress-bar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ddd;
    z-index: 999;
    pointer-events: none;
}

.progress-bar {
    height: 100%;
    background-color: black;
    width: 0;
    transition: width 0.3s ease;
}

.card-scroll::-webkit-scrollbar {
    display: none;
}

.shapes {
    position: absolute;
    top: 0;
    right: 0;
    width: 500%;
    height: 100%;
    overflow: hidden;
    z-index: -0.5;
}

.shape {
    position: absolute;
    opacity: 0.7;
}

.circle {
    border-radius: 50%;
}

.rectangle {
    border-radius: 10px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 35px solid rgba(255, 255, 255, 0.5);
}

.section-achievement-headline{
    font-size: calc(20px + (100 - 40)*(100vw - 320px)/(1920 - 320));
    color: #102C57;
    margin: 10px 0 ;
}
.achievement-headline{
    font-size: 24px;
    color: #102C57;
}

.card-achievement{
    padding: 10px;
}

.badge-achievement{
    height: calc(20px + (100 - 40)*(100vw - 320px)/(1920 - 320));
    
}

.bg-pattern {
    background-image: url('../resources/bg-vectors-engineer.jpg');
    padding: 20px;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.85);
    background-blend-mode: overlay;
    width: 100%;
    z-index: -1;
}
.container-achievement{
    width: 70%;
}

/* -----------------css for footer of page----------- */

.footer{
    background-color: black;
    color: white;
    min-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer a{
    color: white;
    text-decoration: none;

}

.card-footer .card-title{
    border-bottom: 2px solid white;
}

/* social Icons */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .icon {
    text-decoration: none;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    /* background-color: hsla(209 20% 70% / 20%); */ /* For dark theme */
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 5px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  
  .icon > i {
    color: #2dd4bf;
    font-size: 1.5rem;
    transition: all 0.2s;
  }
  
  .icon:hover > i {
    scale: 1.2;
    color: #f1f1f1;
  }
  
  .icon:before {
    background: var(--color);
    content: "";
    position: absolute;
    width: 130%;
    height: 130%;
    left: -110%;
    top: 80%;
    transform: rotate(45deg);
  }
  
  .icon:hover:before {
    animation: slide 0.7s forwards;
  }
  
  @keyframes slide {
    50% {
      left: 10%;
      top: -40%;
    }
  
    100% {
      left: -15%;
      top: -15%;
    }
  }
  
  .icon:has(.fa-instagram) {
    --color: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
  }
  .icon:has(.fa-linkedin-in) {
    --color: #0077b5;
  }
  .icon:has(.fa-youtube) {
    --color: #ff0000;
  }
  .icon:has(.fa-x-twitter) {
    --color: #1da1f2;
  }